@{
    ViewData["Title"] = "Delete Channel";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div> <!-- .text-center -->

<div class="container">
    <a asp-action="Index" class="float-right">Back</a>
</div> <!-- .container -->